li:not(nav li){margin-left: 2rem;}
h2 {font-size: 1.9rem;}

/*so i will be using grid, fml*/
article {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
   gap: 0.2rem;
  align-items: start;
    grid-auto-flow: row dense;
}
article > * {
   grid-column: col-start / span 12;
}
img:not(.exception) {margin: auto; height: 20rem;margin-left: 2rem;}
.heathers {height: 25rem !important;}

.Poster { grid-column: col-start 8 / span 4;}
.Poster + p {grid-column: col-start / span 7;}

.Slurpee {grid-column: col-start 10 / span 2;}
.Slurpee + p { grid-column: col-start / span 9;}

.G_Inq { grid-column: col-start 9 / span 3;}
.G_Inq + p { grid-column: col-start / span 8;}

.Egy { height: 30vh; margin: auto;}


 
 @media (max-width: 768px) {
  article  {display: block;}
  article > * {
   grid-column: col-start / span 12 !important;
  }
  article > img {margin: auto;}
  .Egy { display: none; }
}