    img {height: 20rem;}    
    #heathers {height: 25rem;}
    #DMIZ { transition: transform 0.3s ease;}
    #egyptian {  width: 100%; height: auto; }
    #ghoti { width: 80%; height: auto;}
    .insider {
    display: grid;
    grid-template-rows: 1fr 1fr;           
    max-height: 20rem;
    }
    button {padding: 1rem; height: 4rem; }
    @media (min-width: 768px) {
      article {
      display: grid;/*so i will be using grid, fml*/
      grid-template-columns: repeat(12, [col-start] 1fr);
      gap: 0.2rem;
      align-items: start;
      grid-auto-flow: row dense;
    }
    article > * {
      grid-column: col-start / span 12;
      
    } 
    
  
    .G8 { grid-column: col-start 8 / span 4; margin-left: 2rem;}
    .G8 + p {grid-column: col-start / span 7;z-index: 3;}

    .G9 { grid-column: col-start 9 / span 3;margin-left: 2rem;}
    .G9 + p { grid-column: col-start / span 8;}

    .G10 { grid-column: col-start 10 / span 2;margin-left: 2rem;}
    .G10 + p { grid-column: col-start / span 9;}
  }
@media (max-width: 768px) {
    img{max-width: 100%;}
  article  {display: block;}
  .insider {min-height: 23rem; }
  .phone-special {display: block; height: 2rem; } 
  
}




